@brand-primary: #161616;
@brand-primary-dark: #ece6e0;
@brand-primary-light: #ffffff;
@brand-primary-text: #231f20;

@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese");
//@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=vietnamese");
@import url(../../admin/main/scss/icons/font-awesome/css/font-awesome.min.css);
@import url(../../admin/main/scss/icons/flag-icon-css/flag-icon.min.css);

body {
    font: 400 15px/1.45 Roboto, sans-serif;
    //font: 400 15px/1.45 Source Sans Pro, sans-serif;
    //font: 400 15px/1.45 "futura-pt", sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none !important;
}

.btn-rounded {
    border-radius: 100%;
}

/*======== CUONGDEV CUSTOM FUNCTION ========*/
.line_limit(@line_number,  @min-height, @height: auto) {
    //Giới hạn dòng
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    min-height: @min-height;
    height: @height;
    -webkit-line-clamp: @line_number;
    -webkit-box-orient: vertical;
}

/* ======================================== */
@sidebar_position: 320px;
.transition_effect(@transition_time: 1s) {
    -webkit-transition: all @transition_time ease;
    -moz-transition: all @transition_time ease;
    -o-transition: all @transition_time ease;
    -ms-transition: all @transition_time ease;
    transition: all @transition_time ease;
}

.tranform_effect(@tx: 0px, @ty: 0px, @tz: 0px) {
    -webkit-transform: translate3d(@tx, @ty, @tz);
    -moz-transform: translate3d(@tx, @ty, @tz);
    -ms-transform: translate3d(@tx, @ty, @tz);
    -o-transform: translate3d(@tx, @ty, @tz);
    transform: translate3d(@tx, @ty, @tz);
}

.toggle_sidebar_block {
    position: fixed;
    top: 0;
    width: @sidebar_position;
    height: 100%;
    background-color: @brand-primary-dark;
    z-index: 10;
    .transition_effect(0.5s);

    &.toggle_sidebar_left {
        left: -@sidebar_position;

        &.active {
            left: 0;
        }
    }

    &.toggle_sidebar_right {
        right: -@sidebar_position;

        &.active {
            right: 0;
        }
    }

    .toggle_sidebar_header {
        position: relative;
        min-height: 40px;

        .btn__close_toggle_sidebar {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

#sidebar-mobile-menu {
    .toggle_sidebar_content {
        &.sidebar_mobile_menu {
            height: calc(~"100vh - 80px");
            overflow: scroll;
        }

        ul.nav-mobile.nav-vertical {
            li {
                position: relative;
                width: 100%;

                a {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                    color: @brand-primary-light;
                    letter-spacing: 0;

                    i {
                        color: @brand-primary-light;
                    }
                }

                &:hover, &:focus {
                    > a {
                        color: @brand-primary;

                        > i {
                            color: @brand-primary;
                        }
                    }
                }
            }

            > li {
                padding: 10px 20px;

                > a {
                    padding: 0;
                    text-transform: uppercase;
                    position: relative;

                    &:before {
                        content: '\f192';
                        font-family: 'FontAwesome', sans-serif;
                        font-size: 10px;
                        color: @brand-primary-light;
                        margin-right: 5px;
                    }
                }

                &.nav-has-child > a {
                    &:after {
                        content: '\f0d7';
                        font-family: 'FontAwesome', sans-serif;
                        font-size: 17px;
                        color: @brand-primary-light;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }

                > ul.nav-child {
                    padding-left: 30px;

                    > li {
                        &.nav-child-has-child {
                            > a {
                                font-size: 15px;
                                font-weight: 500;
                            }

                            > ul.nav-child {
                                padding-left: 15px;
                            }
                        }
                    }
                }

                &:hover, &:focus {
                    > a {
                        &:before, &:after {
                            color: @brand-primary;
                        }
                    }
                }
            }
        }
    }
}

#sidebar-cart {
    .toggle_sidebar_content {
        height: calc(~"100vh - 40px - 180px");
        max-height: calc(~"100vh - 40px - 180px");
        overflow-x: unset;
        overflow-y: auto;

        .sidebar-cart-item {
            margin-bottom: 15px;
            position: relative;

            .btn__remove_cart_item {
                display: none;
                position: absolute;
                top: 5px;
                left: 20px;
            }

            &:hover {
                .btn__remove_cart_item {
                    display: block;
                }
            }

            .cart-item-image {
                width: 100%;
            }

            .cart-item-name {
                margin-bottom: 7px;
                color: @brand-primary-light;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                .line_limit(2, 20px)
            }

            .cart-item-quantity {
                height: 24px;
                padding: 03px 5px;
                font-size: 14px;
                line-height: 1.5;
                border-radius: 0;
            }

            .cart-item-price {
                color: @brand-primary-light;
                font-weight: 500;
            }
        }
    }
}

#breadcrumb {
    border: none;
    background: #f7f7f7;
    padding: 15px 0;
    margin-bottom: 20px;

    .breadcrumb-title {
        font-size: 22px;
        line-height: 1.2;
    }

    .breadcrumb {
        padding: 0;
        margin: 0;
        background-color: transparent;

        li {
            a {
                font-size: 14px;
                color: @brand-primary-dark;
            }
        }
    }
}

.box-image {
    position: relative;

    .image-cover {
        position: relative;
        height: auto;
        overflow: hidden;
        padding-top: 100%;
        background-position: 50% 50%;
        background-size: cover;

        img {
            right: 0;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            top: 0;
            position: absolute;
            object-position: 50% 50%;
            object-fit: cover;

            max-width: 100%;
            transform: translateZ(0);
            margin: 0 auto;
            opacity: 1;

            display: inline-block;
            vertical-align: middle;
        }
    }
}

.pi-label {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;

    span {
        float: left;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        background-color: @brand-primary;
        color: @brand-primary-light;
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
        width: 70px;
        height: 25px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        &:before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background: #fff;
            position: absolute;
            left: 0;
            top: 10px;
            z-index: 1;
        }

        &:after {
            width: 0;
            height: 0;
            border-right: 10px solid @brand-primary;
            border-top: 13px solid transparent;
            border-bottom: 12px solid transparent;
            position: absolute;
            top: 0;
            right: 0;
            left: -10px;
            text-align: center;
            content: "";
        }
    }

    .new-label span {
        top: 30px;
        background-color: #ffb400;

        &:after {
            border-right-color: #ffb400;
        }
    }

    .sale-label span {
        background-color: #ff261e;

        &:after {
            border-right-color: #ff261e;
        }
    }
}

//Header Title
.section-title-container {
    .section-title {
        &.section-title-center {
            text-align: center;
            margin-bottom: 30px;

            .section-title-main {
                position: relative;

                &:after {
                    /*content: "";
                    background: url(../img/line.png) no-repeat center;
                    background-size: auto 100%;
                    width: 160px;
                    height: 50px;
                    position: absolute;
                    top: -50px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: inline-block;*/

                    content: "";
                    height: 3px;
                    width: 100px;
                    background: #d4d4d4;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

/* ======================================== */
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 100vw;

    #top-bar {
    }

    #header-main {
        position: relative;
        background-color: @brand-primary-light;
        border-bottom: 1px solid #f3f3f3;
        padding: 10px 0;

        .cd-logo {
            text-align: center;

            .cd-logo-link {
                display: inline-block;

                .cd-logo-image {
                    max-height: 40px;
                }
            }
        }

        .cd-header-searchbox {
            position: relative;
            margin-bottom: 15px;
            @media screen and (max-width: 991px) {
                width: 100%;
            }

            .cd-search-input {
                height: 25px;
                width: 100%;
                padding: 5px 18px 5px 5px;
                font-family: "Larsseit W01 Regular", sans-serif;
                font-size: 13px;
                background: transparent;
                color: @brand-primary-text;
                border: 0;
                border-bottom: 1px solid #c7c7c7;
                border-radius: 0;

                &:focus {
                    -webkit-box-shadow: unset;
                    -moz-box-shadow: unset;
                    box-shadow: unset;
                }
            }

            .cd-search-button {
                position: absolute;
                top: 0;
                right: 0;
                width: 25px;
                height: 25px;
                padding: 0;

                .nav-search-icon {
                    display: block;
                    padding: 0 5px;
                    color: @brand-primary;
                }
            }
        }

        .menu-item {
            display: inline-block;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            line-height: 40px;
            letter-spacing: 1.5px;
            color: @brand-primary-text;
            text-decoration: none;
            text-transform: uppercase;

            &.menu-right-item {
                margin-right: 15px;
            }
        }

        //SHOP MENU
        #shop_menu {
            position: absolute;
            top: 50px;
            z-index: -1;
            opacity: 0;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 30px 20px 20px;
            background: @brand-primary-light;
            border: 1px solid #f3f3f3;
            box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 5px 10px rgba(0,0,0,0.23);
            .transition_effect(0.3s);

            &.active {
                z-index: 1002;
                opacity: 1;
            }

            @media screen and (min-width: 768px) {
                width: 400px;
                left: -20px;
                display: none;

                &:before, &:after {
                    position: absolute;
                    bottom: 100%;
                    left: 50px;
                    width: 0;
                    height: 0;
                    pointer-events: none;
                    border: solid transparent;
                    content: "";
                }

                &:before {
                    margin-left: -8px;
                    border-width: 9px;
                    border-bottom-color: #f3f3f3;
                }

                &:after {
                    margin-left: -8px;
                    border-width: 8px;
                    border-bottom-color: #fff;
                }

                &.active {
                    left: -20px;
                    display: block;
                }
            }

            @media screen and (max-width: 767px) {
                width: 100vw;
                left: -100vw;

                &.active {
                    left: 0;
                }
            }
        }

        .cd-header-navbar {
            .nav-item {
                display: inline-block;
                width: 50%;
                padding-right: 10px;
                padding-left: 10px;
                margin-right: 0;
                margin-bottom: 15px;
                font-size: 11.5px;
                text-transform: uppercase;

                .nav-link {
                    position: relative;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -webkit-justify-content: space-between;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    width: 100%;
                    font-weight: 600;
                    color: inherit;
                    text-decoration: none;
                    line-height: 20px;
                    padding: 0;
                    letter-spacing: 0.7px;
                    background-color: #f7f7f7;

                    .nav-link-title {
                        position: relative;
                        z-index: 1;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        padding: 23px 0 22px 15px;
                    }

                    .nav-link-image {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        max-width: 35%;
                        max-height: 65px;
                        overflow: hidden;
                        @media screen and (min-width: 640px) {
                            max-width: 65px;
                        }

                        img, svg {
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: #f3f3f3;
                            fill: #231f20;
                            -o-object-fit: cover;
                            object-fit: cover
                        }
                    }
                }
            }
        }

        //Submenu
        .site-actions-submenu {
            .submenu-toggle-link {
                display: block;
                padding-bottom: 2px;
                cursor: pointer;
            }
        }
    }

    #header-bottom {
        .cd-header-nav-main {
            ul.nav-main {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                li {
                    position: relative;

                    a {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        color: @brand-primary-dark;
                        letter-spacing: 0;

                        i {
                            color: @brand-primary-dark;
                        }
                    }

                    &:hover, &:focus {
                        > a {
                            color: @brand-primary;

                            > i {
                                color: @brand-primary;
                            }
                        }
                    }
                }

                > li {
                    padding: 5px 0;

                    > a {
                        font-weight: 500;
                        text-transform: uppercase;
                    }

                    > ul.nav-child {
                        position: absolute;
                        top: 40px;
                        min-width: 220px;
                        padding: 10px;
                        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.09);
                        overflow: hidden;
                        background-color: #fff;
                        visibility: hidden;
                        -webkit-transform: translate3d(0px, -12px, 0px);
                        -moz-transform: translate3d(0px, -12px, 0px);
                        -ms-transform: translate3d(0px, -12px, 0px);
                        -o-transform: translate3d(0px, -12px, 0px);
                        transform: translate3d(0px, -12px, 0px);
                        z-index: 10;

                        li {
                            width: 100%;

                            &.nav-child-has-child {
                                > a {
                                    font-size: 15px;
                                    font-weight: 500;
                                }

                                > ul.nav-child {
                                    padding-left: 15px;
                                }
                            }
                        }
                    }

                    &:hover, &:focus {
                        > ul.nav-child {
                            visibility: visible;
                            -webkit-transform: translate3d(0px, 0px, 0px);
                            -moz-transform: translate3d(0px, 0px, 0px);
                            -ms-transform: translate3d(0px, 0px, 0px);
                            -o-transform: translate3d(0px, 0px, 0px);
                            transform: translate3d(0px, 0px, 0px);
                            -webkit-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                            -moz-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                            -ms-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                            -o-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                            transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                        }
                    }
                }
            }
        }
    }
}

#client_main {
    margin-top: 91px;
    min-height: 100vh;

    .cd-vertical-menu {
        border: 1px solid #ebebeb;

        .vertical-menu-title {
            padding: 10px 20px;
            color: @brand-primary-light;
            background-color: @brand-primary;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;

            i {
                color: @brand-primary-light;
            }
        }

        ul.nav-vertical {
            li {
                position: relative;
                width: 100%;

                a {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                    color: @brand-primary-dark;
                    letter-spacing: 0;

                    i {
                        color: @brand-primary-dark;
                    }
                }

                &:hover, &:focus {
                    > a {
                        color: @brand-primary;

                        > i {
                            color: @brand-primary;
                        }
                    }
                }
            }

            > li {
                padding: 10px 20px;

                > a {
                    padding: 0;
                    text-transform: uppercase;
                    position: relative;

                    &:before {
                        content: '\f192';
                        font-family: 'FontAwesome', sans-serif;
                        font-size: 10px;
                        color: @brand-primary-dark;
                        margin-right: 5px;
                    }
                }

                &.nav-has-child > a {
                    &:after {
                        content: '\f105';
                        font-family: 'FontAwesome', sans-serif;
                        font-size: 17px;
                        color: @brand-primary-dark;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }

                > ul.nav-child {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 100%;
                    padding: 0;
                    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.09);
                    visibility: hidden;
                    overflow: hidden;
                    background-color: #fff;
                    -webkit-transform: translate3d(-15px, 0px, 0px);
                    -moz-transform: translate3d(-15px, 0px, 0px);
                    -ms-transform: translate3d(-15px, 0px, 0px);
                    -o-transform: translate3d(-15px, 0px, 0px);
                    transform: translate3d(-15px, 0px, 0px);
                    z-index: 10;

                    > li {
                        &.nav-child-has-child {
                            > a {
                                font-size: 15px;
                                font-weight: 500;
                            }

                            > ul.nav-child {
                                padding-left: 15px;
                            }
                        }
                    }
                }

                &:hover, &:focus {
                    > a {
                        &:before, &:after {
                            color: @brand-primary;
                        }
                    }

                    > ul.nav-child {
                        visibility: visible;
                        -webkit-transform: translate3d(0px, 0px, 0px);
                        -moz-transform: translate3d(0px, 0px, 0px);
                        -ms-transform: translate3d(0px, 0px, 0px);
                        -o-transform: translate3d(0px, 0px, 0px);
                        transform: translate3d(0px, 0px, 0px);
                        -webkit-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                        -moz-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                        -ms-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                        -o-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                        transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                    }
                }
            }
        }
    }

    .cd-product-single {
        .pi-image {
            border: 1px solid #ebebeb;
            margin-bottom: 30px;
            background: #fff;

            .image-cover {
                padding-top: 100%;
            }
        }

        .pi-label {
            top: 15px;
        }

        .pi-title {
            font-size: 22px;
            font-weight: 500;
        }

        .pi-price {
            font-size: 30px;
            font-weight: 500;
            padding: 15px 0;

            s, span {
                margin-right: 5px;
            }

            s {
                font-size: 25px;
                color: lighten(@brand-primary-dark, 50%);
            }

            span {
                color: @brand-primary-dark;
            }
        }
    }

    .cd-product-item {
        background: #fff;
        border: 1px solid #ebebeb;
        padding: 10px;
        margin-bottom: 20px;
        position: relative;

        .pi-image {
            .image-cover {
                padding-top: 100%;
            }
        }

        .pi-action {
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 0;
            padding: 10px;
            visibility: hidden;
            overflow: hidden;
            -webkit-transform: translate3d(0px, 20px, 0px);
            -moz-transform: translate3d(0px, 20px, 0px);
            -ms-transform: translate3d(0px, 20px, 0px);
            -o-transform: translate3d(0px, 20px, 0px);
            transform: translate3d(0px, 20px, 0px);

            button {
                background-color: #fff;
                width: 40px;
                height: 40px;
                padding: 5px;
                line-height: 30px;
                text-align: center;

                &:hover {
                    background-color: #2a2a2a;
                }
            }
        }

        .pi-text {
            .pi-title {
                a {
                    color: @brand-primary-dark;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                    text-decoration: none;
                    margin-bottom: 7px;
                    .line_limit(2, 40px);

                    &:hover {
                        color: @brand-primary;
                    }
                }
            }

            .pi-price {
                font-size: 15px;
                font-weight: 400;

                s, span {
                    margin-right: 5px;
                }

                s {
                    font-size: 14px;
                    color: lighten(@brand-primary-dark, 50%);
                }

                span {
                    color: #ff261e;
                }
            }
        }

        &:hover {
            border: 1px solid lighten(@brand-primary-dark, 70%);

            .pi-action {
                visibility: visible;
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                -ms-transform: translate3d(0px, 0px, 0px);
                -o-transform: translate3d(0px, 0px, 0px);
                transform: translate3d(0px, 0px, 0px);
                -webkit-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                -moz-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                -ms-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                -o-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
            }
        }
    }

    .cd-product-cat-block {
        .block-header {
            margin-bottom: 20px;
            border: 1px solid #d9d9d9;
            border-top-color: @brand-primary;
            border-left: 3px double #d9d9d9;

            .block-title {
                a {
                    font-size: 20px;
                    line-height: 25px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0;
                    padding: 10px 10px 10px 20px;
                    display: block;
                }
            }

            .block-sub-cat {
                ul {
                    padding: 10px 0;
                    @media screen and (min-width: 992px) {
                        float: right;
                    }

                    li {
                        a {
                            color: @brand-primary-dark;
                            line-height: 20px;
                            font-size: 15px;
                            padding: 0 10px;
                        }

                        &:not(:first-child) {
                            border-left: 1px solid #d9d9d9;
                        }

                        &:hover {
                            a {
                                color: @brand-primary;
                            }
                        }
                    }
                }
            }
        }
    }

    .cd-post-item {
        background: #fff;
        margin-bottom: 30px;
        position: relative;

        .pi-image {
            margin-bottom: 15px;

            .image-cover {
                padding-top: 56.25%;
            }
        }

        .pi-text {
            .pi-title {
                a {
                    color: @brand-primary-dark;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    text-decoration: none;
                    .line_limit(2, 40px);

                    &:hover {
                        color: @brand-primary;
                    }
                }
            }

            .pi-meta {
                color: lighten(@brand-primary-dark, 30%);
                padding: 10px 0;
                font-size: 13px;

                span {
                    margin-right: 10px;
                }
            }

            .pi-desc {
                font-size: 14px;
            }

            .pi-content {
                margin: 15px 0;
            }

            .pi-button {

            }
        }

        &.title_view {
            margin-bottom: 0;
            padding: 10px 0;

            &:not(:last-child) {
                border-bottom: 1px dotted @brand-primary-dark;
            }

            .pi-text {
                .pi-title {
                    a {
                        min-height: 20px;

                        &:before {
                            content: '\f0da';
                            font-family: FontAwesome, sans-serif;
                            margin-right: 5px;
                            color: @brand-primary;
                        }
                    }
                }
            }
        }
    }

    .slider {
        .slick-arrow {
            width: 40px;
            height: 40px;
            @media screen and (max-width: 450px) {
                display: none !important;
            }

            &:before {
                color: @brand-primary-dark;
            }
        }
    }

    .cd-partner-slider {
        .partner-slider {
            background: #fff;
            border: 1px solid #ebebeb;

            .item {
                img {
                    max-height: 80px;
                }
            }
        }
    }

    .widget {
        .widget-title {
            position: relative;
            color: @brand-primary;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 20px;
            padding-left: 15px;
            border-left: 3px solid @brand-primary;
        }

        &.widget__policy {
            margin: 30px 0;

            .widget-image {
                img {
                    width: 100%;
                }
            }

            .widget-content {
                .policy_list {
                    .policy_item {
                        position: relative;
                        font-size: 15px;
                        text-align: center;
                        margin-bottom: 10px;

                        .policy_icon {
                            display: block;
                            font-size: 65px;
                            color: @brand-primary;
                            width: 100%;
                            text-align: center;
                            margin-bottom: 20px;

                            img {
                                margin: 0 auto;
                                max-height: 65px;
                                display: block;
                            }
                        }

                        .policy_text {
                            a {
                                font-weight: 500;
                                color: @brand-primary-dark;
                            }

                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        .cd-post-item {
            margin-bottom: 15px;

            &.list_view {
                .pi-image {
                    margin-bottom: 0;

                    .image-cover {
                        padding-top: 100%;
                    }
                }

                .pi-text {
                    .pi-title {
                        a {
                            font-size: 15px;
                            .line_limit(3, 60px);
                        }
                    }
                }
            }

            .pi-meta, .pi-desc {
                display: none;
            }
        }
    }

    #Product_Filter {
        ul.nav-filter {
            list-style-type: none;
            padding: 0;

            &.nav-2-column {
                -moz-column-count: 2;
                -moz-column-gap: 20px;
                -webkit-column-count: 2;
                -webkit-column-gap: 20px;
                column-count: 2;
                column-gap: 20px;
            }
        }
    }
}

#footer {
    background-color: @brand-primary-dark;
    margin-top: 30px;

    #footer-top {
        position: relative;
        padding: 50px 0 10px;

        &.dark {
            color: @brand-primary-light;

            a {
                color: @brand-primary-light;
            }
        }

        &.light {
            color: @brand-primary-dark;
        }
    }

    #footer-bottom {
        .footer-copyright {
            text-align: left;
            color: #fff;
            font-size: 14px;
            padding: 20px 0;
        }
    }

    .widget {
        .widget-title {
            position: relative;
            color: @brand-primary-light;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 20px;
            padding-left: 15px;
            border-left: 3px solid @brand-primary;
        }

        ul.nav-vertical {
            li {
                position: relative;
                width: 100%;

                a {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                    color: @brand-primary-light;
                    letter-spacing: 0;

                    i {
                        color: @brand-primary-light;
                    }
                }

                &:hover, &:focus {
                    > a {
                        color: @brand-primary;

                        > i {
                            color: @brand-primary;
                        }
                    }
                }
            }

            > li {
                > a {
                    &:before {
                        content: '\f192';
                        font-family: 'FontAwesome', sans-serif;
                        font-size: 10px;
                        color: @brand-primary-light;
                        margin-right: 5px;
                    }
                }

                &.nav-has-child {
                    > a {
                        &:after {
                            content: '\f105';
                            font-family: 'FontAwesome', sans-serif;
                            font-size: 17px;
                            color: @brand-primary-light;
                            position: absolute;
                            top: 18px;
                            right: 0;
                            transform: translateY(-50%);
                        }
                    }

                    &:hover, &:focus {
                        > a {
                            &:after {
                                content: '\f107';
                            }
                        }
                    }
                }

                > ul.nav-child {
                    height: 0;
                    padding-left: 15px;
                    visibility: hidden;
                    overflow: hidden;
                    -webkit-transform: translate3d(0px, -15px, 0px);
                    -moz-transform: translate3d(0px, -15px, 0px);
                    -ms-transform: translate3d(0px, -15px, 0px);
                    -o-transform: translate3d(0px, -15px, 0px);
                    transform: translate3d(0px, -15px, 0px);

                    > li {
                        &.nav-child-has-child {
                            > a {
                                font-size: 15px;
                                font-weight: 500;
                            }

                            > ul.nav-child {
                                padding-left: 15px;
                            }
                        }
                    }
                }

                &:hover, &:focus {
                    > a {
                        &:before, &:after {
                            color: @brand-primary;
                        }
                    }

                    > ul.nav-child {
                        height: auto;
                        visibility: visible;
                        -webkit-transform: translate3d(0px, 0px, 0px);
                        -moz-transform: translate3d(0px, 0px, 0px);
                        -ms-transform: translate3d(0px, 0px, 0px);
                        -o-transform: translate3d(0px, 0px, 0px);
                        transform: translate3d(0px, 0px, 0px);
                        -webkit-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                        -moz-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                        -ms-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                        -o-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                        transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
                    }
                }
            }
        }

        &.widget__email_subscriber {
            .marketing_script {
                .hbspt-form {
                    .hs-form {
                        .hs-submit {
                            .hs-button {
                                border: 1px solid @brand-primary;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-social {
        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            color: @brand-primary-light;
            border-radius: 3px;
            position: relative;
            background: lighten(@brand-primary-dark, 30%);
            font-size: 16px;
            text-align: center;
            line-height: 40px;
            margin-right: 3px;

            &:hover {
                color: @brand-primary;
            }
        }
    }
}

//========= BACKGROUND OVERLAY ============
#shop_menu_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -111;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: 0;
    .transition_effect(0.5s);

    &.active {
        z-index: 1001;
        opacity: 0.85;
    }
}

//========= POPUP ============
.ez_popup {
    z-index: 100;

    .popup_wrapper {
        position: relative;
        z-index: 100;

        .popup_close {
            position: absolute;
            width: 100%;
            height: 40px;
            padding: 10px;
            text-align: right;
            color: #fff;

            i {
                font-size: 20px;
            }
        }

        .popup_script {
            padding: 10px;
        }
    }
}

#popup_phone {
    @media screen and (max-width: 849px) {
        display: none;
    }

    position: fixed;
    bottom: 0;
    left: 20px;
    display: inline-block;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    -webkit-transform: translate3d(0px, calc(~"100% - 40px"), 0px);
    -moz-transform: translate3d(0px, calc(~"100% - 40px"), 0px);
    -ms-transform: translate3d(0px, calc(~"100% - 40px"), 0px);
    -o-transform: translate3d(0px, calc(~"100% - 40px"), 0px);
    transform: translate3d(0px, calc(~"100% - 40px"), 0px);
    -webkit-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
    -moz-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
    -ms-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
    -o-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
    transition: all 300ms cubic-bezier(0.2, .06, .05, .95);

    &.active {
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }

    .popup_script {
        .hbspt-form {
            .hs-form {
                position: relative;

                .hs-submit {
                    position: absolute;
                    top: 0;
                    right: 0;

                    .hs-button {
                        display: inline-block;
                        background-color: @brand-primary;
                        color: @brand-primary-light;
                        border-radius: 0 5px 5px 0;
                    }
                }
            }
        }
    }
}

#popup_email {
    z-index: 9999999999;

    .popup_background {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999999;
        .tranform_effect(-100%, -100%, 0px);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }

    &.active {
        .popup_background {
            .tranform_effect(0px, 0px, 0px);
        }

        .popup_wrapper {
            .tranform_effect(-50%, calc(~"50vh - 50%"), 0px);
        }
    }

    .popup_wrapper {
        z-index: 9999999999;

        position: fixed;
        top: 0;
        left: 50%;
        display: inline-block;
        max-width: 560px;
        @media screen and (max-width: 767px) {
            max-width: 95%;
        }
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

        .tranform_effect(-50%, -120%, 0px);
        -webkit-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
        -moz-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
        -ms-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
        -o-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
        transition: all 300ms cubic-bezier(0.2, .06, .05, .95);

        .popup_script {
            .hbspt-form {
                .hs-form {
                    text-align: center;

                    .hs-input {
                        max-width: 300px;
                    }

                    .hs-submit {
                        .hs-button {
                            max-width: 300px;
                            background-color: @brand-primary;
                            color: @brand-primary-light;
                        }
                    }
                }
            }
        }
    }
}

#popup_quickview {
    position: fixed;
    top: 0;
    left: 50%;
    display: inline-block;
    width: 700px;
    @media screen and (max-width: 767px) {
        max-width: 95%;
    }
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    -webkit-transform: translate3d(-50%, -120%, 0px);
    -moz-transform: translate3d(-50%, -120%, 0px);
    -ms-transform: translate3d(-50%, -120%, 0px);
    -o-transform: translate3d(-50%, -120%, 0px);
    transform: translate3d(-50%, -120%, 0px);
    -webkit-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
    -moz-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
    -ms-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
    -o-transition: all 300ms cubic-bezier(0.2, .06, .05, .95);
    transition: all 300ms cubic-bezier(0.2, .06, .05, .95);

    &.active {
        -webkit-transform: translate3d(-50%, 100px, 0px);
        -moz-transform: translate3d(-50%, 100px, 0px);
        -ms-transform: translate3d(-50%, 100px, 0px);
        -o-transform: translate3d(-50%, 100px, 0px);
        transform: translate3d(-50%, 100px, 0px);
    }

    .popup_wrapper {
        .popup_close {
            color: @brand-primary-dark;

            i {
                font-size: 20px;
            }
        }
    }

    .cd-product-single {
        .pi-image {
            border: 1px solid #ebebeb;
            margin-bottom: 30px;
            background: #fff;

            .image-cover {
                padding-top: 100%;
            }
        }

        .pi-label {
            top: 15px;
        }

        .pi-title {
            font-size: 22px;
            font-weight: 500;
        }

        .pi-price {
            font-size: 30px;
            font-weight: 500;
            padding: 15px 0;

            s, span {
                margin-right: 5px;
            }

            s {
                font-size: 25px;
                color: lighten(@brand-primary-dark, 50%);
            }

            span {
                color: @brand-primary-dark;
            }
        }
    }
}

.fb_customer_chat_bounce_in_v2 {
    z-index: 2147483646 !important;
}

// ========= SOCIAL ICON ============
.social_icon {
    a {
        display: inline-block;
        margin-right: 5px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
    }
}

// ========= PHONE RING ============
#cuongdev_hotline {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;

    @media screen and (min-width: 850px) {
        display: none;
    }

    .Phone {
        position: relative;
        display: block;
        margin: 0;
        width: 70px;
        height: 70px;
        font-size: 70px;
        @media screen and (min-width: 768px) and (max-width: 1366px) {
            font-size: 100px;
        }
        @media screen and (max-width: 767px) {
            font-size: 70px;
        }
        background-color: darken(@brand-primary, 0%);
        border-radius: 100%;
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0), 0 0.05em 0.1em rgba(0, 0, 0, 0.2);
        transform: translate3d(0, 0, 0) scale(1);

        &::before, &::after {
            position: absolute;
            content: "";
        }

        &::before {
            top: 0;
            left: 0;
            width: 70px;
            height: 70px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 100%;
            opacity: 1;
            transform: translate3d(0, 0, 0) scale(0);
        }

        &::after {
            top: 10px;
            left: 10px;
            width: 50px;
            height: 50px;
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=) no-repeat 50% 50%;
            background-size: cover;
            transform: translate3d(0, 0, 0);
        }

        &.is-animating {
            animation: phone-outer 3000ms infinite;

            &::before {
                animation: phone-inner 3000ms infinite;
            }

            &::after {
                animation: phone-icon 3000ms infinite;
            }
        }
    }

    @keyframes phone-outer {
        0% {
            transform: translate3d(0, 0, 0) scale(1);
            box-shadow: 0 0 0 0 rgba(52, 152, 219, 0), 0 0.05em 0.1em rgba(0, 0, 0, 0.2);
        }
        33.3333% {
            transform: translate3d(0, 0, 0) scale(1.1);
            box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.1), 0 0.05em 0.1em rgba(0, 0, 0, 0.5);
        }
        66.6666% {
            transform: translate3d(0, 0, 0) scale(1);
            box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0 0.05em 0.1em rgba(0, 0, 0, 0.2);
        }
        100% {
            transform: translate3d(0, 0, 0) scale(1);
            box-shadow: 0 0 0 0 rgba(52, 152, 219, 0), 0 0.05em 0.1em rgba(0, 0, 0, 0.2);
        }
    }

    @keyframes phone-inner {
        0% {
            opacity: 1;
            transform: translate3d(0, 0, 0) scale(0);
        }
        33.3333% {
            opacity: 1;
            transform: translate3d(0, 0, 0) scale(0.9);
        }
        66.6666% {
            opacity: 0;
            transform: translate3d(0, 0, 0) scale(0);
        }
        100% {
            opacity: 0;
            transform: translate3d(0, 0, 0) scale(0);
        }
    }

    @keyframes phone-icon {
        0% {
            transform: translate3d(0, 0, 0);
        }
        2% {
            transform: translate3d(0.01em, 0, 0);
        }
        4% {
            transform: translate3d(-0.01em, 0, 0);
        }
        6% {
            transform: translate3d(0.01em, 0, 0);
        }
        8% {
            transform: translate3d(-0.01em, 0, 0);
        }
        10% {
            transform: translate3d(0.01em, 0, 0);
        }
        12% {
            transform: translate3d(-0.01em, 0, 0);
        }
        14% {
            transform: translate3d(0.01em, 0, 0);
        }
        16% {
            transform: translate3d(-0.01em, 0, 0);
        }
        18% {
            transform: translate3d(0.01em, 0, 0);
        }
        20% {
            transform: translate3d(-0.01em, 0, 0);
        }
        22% {
            transform: translate3d(0.01em, 0, 0);
        }
        24% {
            transform: translate3d(-0.01em, 0, 0);
        }
        26% {
            transform: translate3d(0.01em, 0, 0);
        }
        28% {
            transform: translate3d(-0.01em, 0, 0);
        }
        30% {
            transform: translate3d(0.01em, 0, 0);
        }
        32% {
            transform: translate3d(-0.01em, 0, 0);
        }
        34% {
            transform: translate3d(0.01em, 0, 0);
        }
        36% {
            transform: translate3d(-0.01em, 0, 0);
        }
        38% {
            transform: translate3d(0.01em, 0, 0);
        }
        40% {
            transform: translate3d(-0.01em, 0, 0);
        }
        42% {
            transform: translate3d(0.01em, 0, 0);
        }
        44% {
            transform: translate3d(-0.01em, 0, 0);
        }
        46% {
            transform: translate3d(0, 0, 0);
        }
    }
}

#hotline_text {
    display: none;
    font-size: 22px;
    line-height: 44px;
    position: fixed;
    bottom: 33px;
    left: 50px;
    z-index: 1999;
    background: darken(@brand-primary, 0%);
    color: #fff;
    padding: 0 20px 0 50px;
    border-radius: 0 22px 22px 0;
    cursor: pointer;
}
