#header {
    position: relative;
}

.header-style3 #header, .header-style4 #header, .header-style5 #header, .header-style6 #header {
    background: #eee;
}

#header .top-header {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.header-style2 #header .top-header .ya-logo, .header-style3 #header .top-header .ya-logo, .header-style5 #header .top-header .ya-logo {
    position: relative;
}

#header .top-header .ya-logo {
    /* position: relative; */
    /* text-align: center; */
}

#header .top-header .ya-logo a img {
    display: inline-block;
    max-width: 38%;
}

.logobaoan {
    float: left;
    width: 600px;
}

.logobaoan img {
    height: 132px;
}

#header .top-header .sidebar-top-header {
    position: relative;
    z-index: 1000;
}

.header-style5 #header .top-header .sidebar-top-header .box-contact-email-phone {
    margin-top: 5px;
    margin-right: 20px;
}

#header .top-header .sidebar-top-header .box-contact-email-phone {
    background: url(http://tb06.chonweb.vn/wp-content/themes/sw-maxshop/assets/img/hot-line-icon.png) no-repeat left center;
    padding-left: 48px;
    float: right;
}

#header .top-header .sidebar-top-header .box-contact-email-phone h2 {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 100%;
    text-transform: capitalize;
}

#header .top-header .sidebar-top-header .box-contact-email-phone a {
    color: #000;
}

.header-style5 .primary-menu {
    background: #000080;
}

.header-style5 #main-menu .ver-megamenu-header {
    float: left;
    position: relative;
    margin-right: 1px;
}

.header-style5 #main-menu .ver-megamenu-header .button-ver-menu {
    line-height: 40px;
    padding: 0 26px 0 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    background-color: #4b78cb;
    width: 100%;
}

.header-style5 #main-menu .ver-megamenu-header .button-ver-menu:before {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 10px;
    position: absolute;
    top: 0px;
    right: 13px;
}

.header-style5 #main-menu .ver-megamenu-header .wpb_content_element {
    margin-bottom: 0;
}

.header-style5 #main-menu .ver-megamenu-header .wrapper_vertical_menu {
    border: none;
    border-top: none;
    padding: none;
    display: none;
    margin-bottom: none;
    width: 270px;
    left: 0px;
    top: 40px;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.resmenu-container {
    display: none;
}

.primary-menu .navbar-inner .nav.nav-mega {
    position: relative;
    z-index: 999;
}

.header-style5 .primary-menu .navbar-inner .nav > li {
    margin-right: 1px;
}

li.menu-trang-chu.ya-menu-custom.level1 {
    text-align: -webkit-center;
}

.primary-menu .navbar-inner .nav > li {
    float: left;
    height: 40px;
    z-index: 9;
}

.header-style5 .primary-menu .navbar-inner .nav > li > a {
    border: none;
}

.primary-menu .navbar-inner .nav > li > a {
    text-transform: uppercase;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    font-weight: 700;
    color: #fff;
    padding: 0px 15px;
    display: block;
    line-height: 40px;
    height: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
}

.primary-menu .navbar-inner .nav > li > a > span {
    display: inline-block;
    z-index: 9;
    position: relative;
}

.header-style5 #main-menu .sidebar-top-menu .widget .top-search {
    margin: 5px 0 0 0;
}

#main-menu .sidebar-top-menu .widget .top-search {
    width: 21%;

    float: right !important;
}

#main-menu .sidebar-top-menu .widget .top-search .topsearch-entry {
    position: relative;
}

.sidebar-top-menu .topsearch-entry {
    border-bottom: 0px #ddd solid;
}

.sidebar-top-menu .top-search .cat-wrapper {
    width: 116px;
    float: left;
    position: relative;
}

#main-menu .sidebar-top-menu .widget .top-search .topsearch-entry input {
    padding-left: 15px;
    border: none;
    background: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 29px;
    height: 29px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 246px;
    padding-right: 35px;
}

.sidebar-top-menu .top-search .fa-search {
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 7px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #fff;
    margin: 0;
    font-family: FontAwesome !important;
}

#main-menu .sidebar-top-menu .widget .top-search .topsearch-entry .fa-search {
    margin-top: -11px;
    right: 10px;
    top: 50%;
    font-family: FontAwesome !important;
}
.nav.vertical-megamenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background: #fff;
}
li:hover .nav.vertical-megamenu{
    display: block;
}
.primary-menu .navbar-inner {
    background: none;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: left;
    filter: none;
}
.nav.vertical-megamenu > li {
    display: block;
    float: none !important;
    line-height: normal;
    margin: 0 !important;
}
.nav.vertical-megamenu > li > a {
    display: block !important;
    padding: 10.5px 15px !important;
    position: relative !important;
    color: #444 !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 14px;
    height: auto !important;
    line-height: normal !important;
    text-align: left;
}
.nav.vertical-megamenu > li:hover > a {
    color: #000080;
}
.nav.vertical-megamenu > li a:hover {
    color: #fff !important;
    background: #000080 !important;
}





.mega-left-title {
    margin-top: 30px;
    height: 45px;
    padding-left: 57px;
    position: relative;
    background-color: #000080;
}
.mega-left-title strong {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
}
.mega-left-title strong:before {
    width: 45px;
    height: 45px;
    content: "";
    display: inline-block;
    background-image: url(http://tb06.chonweb.vn/wp-content/themes/sw-maxshop/assets/img/icon-ver-menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: #03035d;
}
.wrapper_vertical_menu {
    display: block;
    position: relative;
    border: 1px solid #ddd;
    border-top: none;
    padding: 4px 0px;
    margin-bottom: 30px;

}
.wrapper_vertical_menu ul{
    padding-left: 0;
    margin: 0;
}
.wrapper_vertical_menu li{
    display: block;
    float: none;
    line-height: normal;
}
.wrapper_vertical_menu li > a {
    display: block;
    padding: 10.5px 15px;
    position: relative;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.wrapper_vertical_menu li.dropdown > a:after {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 13px;
}
.wrapper_vertical_menu li > a:hover {
    color: #000080;
    font-weight: 700;
    background: #eee;
}

.wrapper_vertical_menu ul li ul{
    display: none;
    position: absolute;
    left: 100%;
    min-width: 200px;
    top: 0;
    background: #fff;
    z-index: 999;
    border: 1px solid #ddd;
}
.wrapper_vertical_menu ul li:hover > ul{display: block}

.sw-best-seller-product.bestsale-block {
    display: inline-block;
    width: 100%;
    margin-bottom: 34px;
    padding-left: 18px;
    padding-right: 18px;
    border: 1px solid #ddd;
}
.carousel {
    position: relative;
}
.sw-best-seller-product.bestsale-block .block-title {
    margin: -5px -19px 20px;
}
.sw-best-seller-product .block-title {
    margin: 0 0 20px;
}

.block-title {
    border-bottom: 3px solid #000080;
    position: relative;
    margin: -5px -19px 0px -19px;
}
.block-title h2 {
    display: inline;
    font-size: 16px;
}
.block-title h2 >span {
    display: inline-block;
    font-weight: bold;
    padding: 0 18px;
    text-transform: uppercase;
    line-height: 37px;
    position: relative;
    color: #fff;
    background: #000080;
}
.block-title.title1 h2 >span:before {
    border-right: 20px solid transparent;
    border-bottom: 37px solid #000080;
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
}
.customNavigation {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -13px;
}
.customNavigation .btn-bs {
    width: 17px;
    height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    color: #999999;
    margin: 0;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner>.active {
    left: 0;
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: block;
}
.carousel-inner .bs-item {
    padding: 6px 0 21px 0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 17px;
    display: inline-block;
    width: 100%;
}
.carousel-inner .bs-item .bs-item-inner .item-img {
    width: 80px;
    height: 10px;
    float: left;
    border: 0;
}
.carousel-inner .bs-item .bs-item-inner .item-content {
    margin-left: 90px;
}
.bs-item .item-content h4 {
    margin-bottom: 7px;
}
.item-content h4, .products-content h4 {
    line-height: normal;
    height: 70px;
}
div.star, div.stars {
    display: none;
    background: url(../assets/img/bkg_rating.png) repeat-x scroll 0 -24px rgba(0,0,0,0);
    height: 12px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 70px;
    /* display: inline-block; */
}

.bs-item .item-content h4 {
    margin-bottom: 7px;
}
.item-content h4, .products-content h4 {
    line-height: normal;
    height: 70px;
}
.item-content h4 a, .products-content h4 a {
    color: #444;
    font-size: 14px;
    font-weight: 400;
}
.bs-item .item-content .amount {
    font-size: 16px;
}
.item-content .amount, .products-content .amount {
    font-size: 18px;
    font-weight: 700;
    color: #e74847;
}
.footer_hh_menu ul {
    padding-left: 2px
}
.footer_hh_menu ul li {
    display: block
}
.footer_hh_menu li > a {
    display: block;
    padding: 4.5px 6px;
    position: relative;
    color: #dad0d0;
    font-weight: normal;
    font-size: 16px;
}