/* page cart */
.cart-form {
  .cart-items {
    .cart-item {
      .cart-item-image {
        img {
          max-height: 213px;
        }
      }
    }
  }
}

/* page checkout customer infomation */
.logo__image--small {
  max-height: 16px;
}

.checkout-page {
  font-family: "Larsseit W01 Regular", sans-serif !important;
  padding-top: 0;
  .content {
    .wrap {
      .main {
        padding-top: 60px;
        .breadcrumb {
          margin-top: 14px;
          .breadcrumb__item {
            a, span {
              font-size: 12px !important;
            }
          }
        }
      }
      .sidebar {
        padding-top: 60px;
        .sidebar__content {
          .order-summary--is-collapsed {
            display: none !important;
          }
        }
      }
    }
  }
}

/* Page customer */
.user-profile__wrap .wrap__profile__info {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
}

.user-profile__wrap .title-profile {
  font-size: 17px;
  display: block;
  font-weight: 300;
  padding: 10px;
}

.user-profile__wrap .profile-content {
  padding: 20px;
}

.user-profile__wrap .wrap__profile__info .input__wrap {
  float: left;
  padding: 0px 15px;
  width: 50%;
}

.user-profile__wrap .wrap__profile__info .form-control {
  box-shadow: none;
  height: 42px;
  font-size: 13px;
}

.user-profile__wrap .wrap__profile__info .input__label {
  width: 120px;
}

.user-profile__wrap .wrap__profile__info .input__label .label {
  padding-top: 10px;
  font-size: 14px;
}

.user-profile__wrap .wrap__profile__info .label {
  display: block;
  padding: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #888;
  text-align: left;
  font-weight: normal;
}

.wrap__profile__info table .child_1 th {
  background: #ffffff;
}

.wrap__profile__info table .child_1 {
  border-top: 1px solid #eaeaea;
}

.birthday-picker {
  display: flex;
}

.birthday-picker select {
  width: 30% !important;
  margin-right: 5px;
}

.wrap__profile__info {
  .profile-content {
    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.customer-order-page {
  .user-profile__wrap {
    .wrap__profile__info {
      table {
        font-size: 14px;
        tr {
          th {
            font-weight: 100;
            color: #a5a5a5;
            vertical-align: middle;
            padding: 15px 10px;
            border-top-color: #eee;
          }
        }
      }
      .profile-order {
        .code {
          color: #1c53af;
        }

        .status {
          span {
            padding: 9px;
            color: #fff;
            &.success {
              background: #00b700;
            }
            &.transport {
              background: #028fa7;
            }
          }
        }
      }
    }
  }
}

.advanced-modal {
  max-width: 50%;
  .modal-header {
    border-bottom: none;
  }
  .cover-img {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .hidden-modal {
    position: absolute;
    right: 0;
    top: 0;
    height: 15px;
  }

  .modal-body {
    padding: 5px;
    .content {
      margin: auto;
      p {
        padding-right: 25px;
        text-align: justify;
      }
    }
  }
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.insta-item {
  position: relative;
  transition: all .2s ease-in-out;
  .overlay-effect {
    background: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    opacity: 0.7;
  }

  .over {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    text-align: center;
  }

  &:hover {
    transform: scale(1.1);
    .overlay-effect {
      display: block;
    }
  }
}

#modalForgotPassword {
  .modal-dialog {
    max-width: 800px !important;
    h3 {
      font-size: 25px;
    }
    .forgot-pass {
      label {
        font-size: 18px;
        margin: auto;
      }

      input {
        line-height: 35px;
      }

      button {
        height: 45px;
        width: 220px;
      }
    }
  }
}

.slick-dots {
  display: none !important;
}

.detail-coupons {
  margin-top: 15px;
  margin-bottom: 15px;
  a {
    color: #0000ff;
    text-decoration: underline !important;
  }
}

/* Responsive */
@media (max-width: 1367px) {
  .advanced-modal {
    max-width: 60%;
  }
}

@media (max-width: 769px) {
  .checkout-page {
    .sidebar {
      padding-top: 0 !important;
    }
    .content {
      .wrap {
        .main {
          .main__header {
            .logo {
              display: none;
            }
          }
        }
      }
    }
  }

  /* page customer */
  .customer-page {
    .collection-container {
      display: flex;
      .collection-filters-wrapper {
        display: block;
        .collection-filters-wrapper-inner {
          width: 170px;
          h4 {
            font-size: 16px;
          }
          .collection-filters-title {
            font-size: 10px;
          }
        }
        .collection-filters-title {
          color: #000;
        }
      }

      .collection-content--inner {
        width: 100%;
        .wrap__profile__info {
          .birthday-picker {
            select {
              width: 100px !important;
            }
          }

          .input__wrap {
            width: 70%;
          }

          .btn-submit {
            font-size: 10px;
          }
        }
      }

      .title-profile {
        font-size: 20px;
      }
    }
  }

  .customer-order-page {
    .user-profile__wrap {
      .wrap__profile__info {
        table {
          font-size: 11px;
        }
      }
    }
    .title-profile {
      font-size: 14px;
    }
  }

  .advanced-modal {
    max-width: 80%;
  }
}

@media (max-width: 450px) {
  .customer-page {
    .collection-container {
      display: block;
      .collection-filters-wrapper {
        padding-right: 0;
        max-width: 100%;
        .collection-filters-wrapper-inner {
          width: 100%;
          .collection-filters-title {
            font-size: 12px;
          }
        }
      }

      .wrap__profile__info {
        .input__wrap {
          width: 100% !important;
        }
      }
    }
  }

  .customer-order-page {
    .user-profile__wrap {
      .wrap__profile__info table {
        min-width: 768px;
      }
    }
  }

  .advanced-modal {
    max-width: 90%;
    text-align: center;
  }
}
